.firstImg {
  max-width: 25%;
}

.matchesImg {
  width: 1440px;
  height: 1000px;
}

h1 {
  display: inline;
}

.navBar {
  width: 100%;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; /* changes nav bar to not be shown in a list */
}

nav li {
  display: inline-block;
  margin: 50px;
  object-fit: contain;
}

button {
  width: 100px;
  height: 35px;
  background-color: black;
  color: white;
}